<div id="Watson">
    <% if current_user.admin == true %>
        <audio id="audio" controls>
        <source src="<%= audio_path 'audio.mp3'%>" type="audio/mpeg">
        </audio>
    <%end %>
</div>