<div id="watson">
    <% if current_user.superadmin_role? %>
        <audio id="audio" controls>
        <source src="<%= audio_path 'audio.mp3'%>" type="audio/mpeg">
        </audio>
    <%end %>
</div>