<div id="watson">
    <% if current_user.superadmin_role? or current_user.employee_role? %>
        <audio id="audio" controls>
        <source src="<%= '/hello_world.wav'%>" type="audio/wav">
        </audio>
    <%end %>
</div>